@font-face {
    font-family: 'ITC Avant Garde Pro Md';
    src: url('../fonts/AvantGardePro/ITCAvantGardePro-Bold.eot');
    src: url('../fonts/AvantGardePro/ITCAvantGardePro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvantGardePro/ITCAvantGardePro-Bold.woff2') format('woff2'),
        url('../fonts/AvantGardePro/ITCAvantGardePro-Bold.woff') format('woff'),
        url('../fonts/AvantGardePro/ITCAvantGardePro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Pro Md';
    src: url('../fonts/AvantGardePro/ITCAvantGardePro-Md.eot');
    src: url('../fonts/AvantGardePro/ITCAvantGardePro-Md.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvantGardePro/ITCAvantGardePro-Md.woff2') format('woff2'),
        url('../fonts/AvantGardePro/ITCAvantGardePro-Md.woff') format('woff'),
        url('../fonts/AvantGardePro/ITCAvantGardePro-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir-Black.eot');
    src: url('../fonts/Avenir/Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/Avenir-Black.woff2') format('woff2'),
        url('../fonts/Avenir/Avenir-Black.woff') format('woff'),
        url('../fonts/Avenir/Avenir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir-Roman.eot');
    src: url('../fonts/Avenir/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/Avenir-Roman.woff2') format('woff2'),
        url('../fonts/Avenir/Avenir-Roman.woff') format('woff'),
        url('../fonts/Avenir/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir-Medium.eot');
    src: url('../fonts/Avenir/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/Avenir-Medium.woff2') format('woff2'),
        url('../fonts/Avenir/Avenir-Medium.woff') format('woff'),
        url('../fonts/Avenir/Avenir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


body{
    font-family: 'Avenir';
    font-style: normal;
}

h4{
    font-family: ITC Avant Garde Pro Md;
    font-size: 31.25px;
    line-height: 130%;
}
@media  (max-width: 991px) {
    h4{
        font-size: 24px;
    }
  }

  @media  (max-width: 767px) {
    h4{
        font-size: 20px;
    }
  }